{%extends 'base.html'%}

{%block title %}
{{user.username}}'s Account
{% endblock %}

{%block content %}

<h1>HELLO and welcome to future user role-surveliance panel</h1>

<!-- Refresh  -->
<div >
    <h2> Account information </h2>
    <div >
        <!-- Do Refresh -->
        <div >
            <div >Refresh / get userdata</div>
            <div >
                <form method='POST' action='/get_postgress_users'>
                    {{test_form.csrf_token()}}
                    <!-- Form Group test_form -->
                    <div class="mb-3" hidden>
                        {{test_form.refresh.label(class="small mb-1")}}
                        {{test_form.refresh()}}
                    </div>
                    <button class="btn btn-primary" type="submit">refresh</button>
                </form>
            </div>
        </div>
</div>


<div>
    <p>{{userdata}}</p>
</div>

{%endblock%}